body{
    background-image: url('../assets/p.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    
}

.demo{
        margin-left: 100px;
        border : 1px solid black;
        padding:100px;
        // box-shadow: 5px 10px 8px 10px #888888;
        -webkit-box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 15px 10px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 15px 10px rgba(0,0,0,0.75);

}



