<div class="container text-center demo mt-5 col-lg-6" >
  <h1>{{countNumber}}</h1>

 <div class="row mt-5">

  <div class="col-lg-4 mt-2">
    <button class="btn col-lg-12 col-12 btn-dark  " (click)="reset()"> Reset </button>
  </div>

  <div class="col-lg-4  mt-2">
    <button class="btn col-lg-12 col-12 btn-success"(click)="increase()"> Increase Count </button>
  </div>

  <div class="col-lg-4  mt-2">
    <button class="btn col-lg-12 col-12 btn-danger " (click)="decrease()"> Decrease Count </button>
  </div>

</div>

</div>

